* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

#content {
    width: 50%;
    aspect-ratio: 4 / 3;
    background-color: gold;
}